/* ── CABECERA CATEGORÍA ── */
.categoria-hero {
    text-align: center;
    padding: 5rem 2rem 3rem 2rem;
}

.categoria-hero h1 {
    font-size: var(--font-size-h1-terciario);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--clr-corporativo-secundario-rosa-claro);
    text-shadow:
        0 0 7px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(157, 78, 221, 0.3);
    margin-bottom: 1.5rem;
}

h2 {
    text-align: center;
}

.categoria-hero p {
    font-size: var(--font-size-parrafo-esc);
    font-weight: 300;
    letter-spacing: .1rem;
    color: var(--clr-corporativo-primario-lila);
}

/* ── HILOS ── */
.hilos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 4rem 4rem 4rem;
    margin: .5rem auto 1rem auto;
}

.hilo-fila {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
}

/* ── TARJETA IMAGEN ── */
.hilo-imagen {
    position: relative;
    height: 11rem;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid var(--clr-corporativo-lavanda-low);
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
   
}

.hilo-imagen:hover {
    border-color: var(--clr-corporativo-secundario-rosa-claro);
    box-shadow: 0 0 20px var(--clr-corporativo-lavanda-low);
}

.hilo-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.55) saturate(1.1);
    transition: transform 0.4s ease;
}

.hilo-imagen:hover img {
    transform: scale(1.05);
}

.hilo-titulo {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-h3-esc);
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: var(--clr-corporativo-primario-lila);
    text-transform: uppercase;
}

/* PARA EL FADE */
.categoria-hero,
.hilos {
    opacity: 0;
    translate: 0 30px;
    transition: opacity 0.7s ease, translate 0.7s ease;
}

.visible {
    opacity: 1;
    translate: 0 0;
}


/* ── RESPONSIVE ── */
@media (max-width: 768px) {

    h2 {
        text-align: center;
    }

    .categoria-hero {
        padding: 3rem 2rem 1rem 2rem;
    }

    .categoria-hero h1 {
        font-size: var(--font-size-h1-principal-mobile);
        letter-spacing: 0.15rem;
    }

    .categoria-hero p {
        font-size: var(--font-size-parrafo-mobile);
    }

    .hilos {
        padding: 1.5rem;
        max-width: 100%;
    }

    .hilo-fila {
        grid-template-columns: 1fr;
    }

    .hilo-titulo {
        font-size: var(--font-size-h2-mobile);
    }
}