.privacidad-section {
    text-align: center;
    margin: 5rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.privacidad-titulo {
    font-size: var(--font-size-h1-secundario-esc);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: var(--clr-corporativo-primario-lila);
    text-shadow:
        0 0 30px var(--clr-corporativo-primario);
    margin-bottom: 1.5rem;
}

.privacidad-titulo span {
    color: var(--clr-corporativo-secundario-rosa-medio);
}

.privacidad-subtitulo {
    width: 100%;
    max-width: 50rem;
    font-size: var(--font-size-parrafo-subtitulo);
    font-weight: 500;
    color: var(--clr-corporativo-primario-lila);
    line-height: 1.75;
    letter-spacing: 0.03rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.privacidad-article-titulo {
    font-size: var(--font-size-h2-secundario-esc);
    font-weight: 700;
    letter-spacing: 0.25rem;
    color: var(--clr-corporativo-secundario-rosa-claro);
    margin-bottom: 2rem;
}

/* ── LISTA ── */
.privacidad-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 60%;
    margin: 0 15rem 2rem 15rem;
    text-align: center;
    font-size: var(--font-size-parrafo-esc);
    font-weight: 100;
    color: var(--clr-corporativo-primario-lila);
    line-height: 1.7;
    letter-spacing: 0.03rem;
    position: relative;
}


.privacidad-lista strong {
    font-weight: 600;
    color: var(--clr-corporativo-secundario-rosa-claro);
}


@media (max-width: 768px) {
    .privacidad-section {
        margin: 3rem 2rem 2rem 2rem;
    }

    .privacidad-titulo {
        font-size: var(--font-size-h1-secundario-mob);
        letter-spacing: 0.08rem;
    }

    .privacidad-subtitulo {
        font-size: var(--font-size-parrafo-subtitulo-mob);
        margin-bottom: 2rem;
    }

    .privacidad-article-titulo {
        font-size: var(--font-size-h2-secundario-mob);
        letter-spacing: 0.1rem;
        margin-bottom: 1.25rem;
    }

    .privacidad-lista {
        max-width: 100%;
        margin: 0 0 2rem 0;
        font-size: var(--font-size-parrafo-mob);
        gap: 1.25rem;
    }
}